a {
  text-decoration: none;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #262a33;
  color: #e5f7ef;
  cursor: default;
  height: 100vh;
}

h1{
  color: #43ffaf;
}

h2, h3, h4, h5, h6 {
  color: #526777;
}

#panels > div {
  display: none
}

#lightstick {
  transition: color 0.15s ease-in-out;
}

#lightstick:hover {
  color: #e5f7ef;
}

#overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#sidebar {
  display: none;
  width: 280px;
  height: 100vh;
  background-color: #22262e;
  box-shadow: 0px 0px 10px black;
  z-index: 2;
}

@media screen and (max-width: 576px) {
  #sidebar {
    width: 100vw;
  }
}

.btn-grid .btn {
  width: 100%;
}

.btn-primary, .btn-primary:disabled, .btn-primary:focus {
  color: #e5f7ef; 
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.btn-primary.active, .btn-primary:active {
  background-color: #43ffaf;
  color: #262a33;
  border: none
}

.btn-primary:hover, .btn-primary.active:hover {
  background-color: #e5f7ef;
  color: #262a33;
}

.btn-primary:focus, .btn-primary.active:focus {
  box-shadow: none;
}

.btn-square {
  width: 38px;
  height: 38px;
  border: solid 1px #e5f7ef;
  border-radius: 0px;
}

.btn-text {
  padding: 0;
  border: 0;
  color: #526777;
}

.btn-text.btn-alert:hover {
  color: red;
}

.btn-text.btn-send:hover{
  color: #43ffaf;
}

.btn-text.active {
  color: #43ffaf;
}

.btn-text:hover {
  color: #e5f7ef;
}

.content {
  max-width: 1000px;
  min-height: 100vh;
  width:100%;
}

.cursor-pointer {
  cursor: pointer;
}

.fill {
  min-height: 100vh;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.form-check-input, .form-check-input:checked, .form-check-input:focus {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: transparent;
}

.form-control {
  background-color: rgba(0, 0, 0, 0.1);
  color: #e5f7ef;
  border: none;
}

.form-control:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: #e5f7ef;
  box-shadow: none;
}

.form-switch .form-check-input, .form-switch .form-check-input:focus, .form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28229, 247, 239, 1%29'/%3e%3c/svg%3e");
}

.form-check-input:focus {
  box-shadow: none;
}

.fs-7 {
  font-size: 0.8em;
}

.fs-9 {
  font-size: 1em;
}

.max-width {
  width: 100%;
}

.icon {
  color: #526777;
  transition: color 0.15s ease-in-out;
}

.icon.active {
  color: #43ffaf;
}

.icon:hover, .icon.active:hover {
  color: #e5f7ef;
}

.list-group li {
  list-style-type: none;
}

.no-break {
  white-space: nowrap;
}

.sidebar-item {
  color: #e5f7ef;
  transition: color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.sidebar-item:hover, .sidebar-item.active:hover {
  color: #22262e;
  background-color: #e5f7ef;
}

.sidebar-item.active {
  color: #22262e;
  background-color: #43ffaf;
}

.switch-label {
  color: #526777;
}

.switch-label.active {
  color: #43ffaf;
}

.text-muted {
  color: #526777!important;
}

.text-lit {
  color: #e5f7ef;
}

#preview-image{
  max-width: 50vw;
  max-height: 37vh;
}

#section-login {
  max-width: 250px;
  width: 100%;
}
