<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lightstick | Control Panel</title>

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!--Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    {% if lightsticks|length > 0 %}
    <div class="container-fluid">
    <div class="row flex-row flex-nowrap"  style="width:100%;">
      <!--Sidebar-->
      <div id="sidebar" class="d-flex flex-column bg-dark col-auto p-0 d-none d-lg-block .animated .fadeInRight">
          <h3 class="p-3 coloured"><b>Lighting Project</b></h3>
          <ul class="list-group d-flex">
            {% for lightstick in lightsticks %}
              <li class="lightstick-sb fs-9 py-2 px-4 list-group-action">
                {{ lightstick.name }}
              </li>
            {% endfor %}
          </ul>
      </div>
      <div class="d-flex col-auto justify-content-around">
        <div id="content" class="content p-4">
          <header>
            <div class="row">
            <div class="row justify-content-end gy-2">
              <!--Button-->
              <div class="col-sm-auto d-none d-lg-block">
                <button id="toggle-sb" class="btn rounded text-end p-0">
                  <i class="bi bi-list icons"></i>
                </button>
              </div>
              <h1 class="col">lightstick<span id="lightstick" class="text-decoration-underline cursor-pointer px-2"></span></h1>
              <div class="col-12 col-md-6">

                  <div class="col d-flex justify-content-end align-items-center">
                    <span id="switch-label-off" class="fs-7 me-2 switch-label">off</span>
                    <div class="form-switch">
                      <input id="switch-power" class="form-check-input" type="checkbox">
                    </div>
                    <span id="switch-label-on" class="fs-7 switch-label">on</span>
                  </div>
                </div>

                <div class="row">
                  <nav id="modes" class="col d-flex justify-content-end flex-wrap">
                    {% for id, mode in modes.items() %}
                    <div class="btn btn-text fs-7 ms-1" data-value={{ id }} style="display: none">{{ mode.name }}</div>
                    {% endfor %}
                  </nav>
                </div>
              </div>
            </div>
          </header>

          <main id="panels" class="my-5" style="display: none;">
            <div id="panel-basic">
              <h2 id="main-header mb-4">basic</h2>

              <div class="my-4">
                <h6 class="m-0">pattern</h6>
                <p>
                  choose a lighting pattern
                </p>

                <div id="patterns" class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 gx-2 gy-2 btn-grid">
                  {% for id, pattern in patterns.items() %}
                  <div class="col"><button class="btn btn-primary" data-value={{ id }}>{{ pattern.name }}</button></div>
                  {% endfor %}
                </div>
              </div>

              <div class="my-4">
                <h6 class="m-0">color</h6>
                <p>
                  set the color(s) displayed in the pattern
                </p>

                <div id="colors" class="d-flex">
                  <button id="btn-submit-color" class="btn btn-primary">submit</button>
                </div>
              </div>
            </div>

            <div id="panel-image">
              <h2 id="main-header mb-4">image</h2>
              <div class="my-4">
                <h6 class="m-0">upload</h6>
                <p>
                  choose an image to be displayed on the lightstick
                </p>

                <div class="text-center">
                  <input id="file-image" accept="image/jpeg, image/png" type="file" class="form-control-file">
                  <br>
                  <button id="btn-upload-image" class="btn btn-primary mt-3">upload</button>
                </div>
              </div>
            </div>

            <div id="panel-audio">
              <h2 id="main-header mb-4">audio</h2>
              <div class="my-4">
                <h6 class="m-0">upload</h6>
                <p>
                  choose an audio file to be visualized on the lightstick
                </p>

                <div class="text-center">
                  <input id="file-audio" accept="audio/mpeg, audio/wav" type="file" class="form-control-file">
                  <br>
                  <button id="btn-upload-audio" class="btn btn-primary mt-3">upload</button>
                </div>
              </div>
            </div>

            <div id="panel-microphone">
              <h2 id="main-header mb-4">microphone</h2>
            </div>

            <div id="panel-lightsaber">
              <h2 id="main-header mb-4">lightsaber</h2>

              <div class="my-4">
                <h6 class="m-0">sensors</h6>
                <p>
                  graphical visualisation of sensors data
                </p>

                <div class="row row-cols-1 row-cols-md-2 gx-5 gy-5">
                  <div>
                    <canvas id="chart-x"></canvas>
                  </div>
                  <div>
                    <canvas id="chart-y"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </main>

          <footer>
          </footer>
        </div>
      </div>
    </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        const DURATION = 200;
        const FILE_SIZE_LIMIT = 1000000 // File size limit of 1MB
        const MIME_TYPES = {
          image: ["image/jpeg", "image/png"],
          audio: ["audio/mpeg", "audio/wav"]
        }

        let lightsticks = {{ lightsticks|tojson }};
        let modes = {{ modes|tojson }};
        let patterns = {{ patterns|tojson }};

        let currentIndex = 0;
        let current = lightsticks[currentIndex];

        let intervalId = null;

        function stopInterval(id) {
          if (id != null) {
            clearInterval(id);
          }

          return null;
        }

        function getSensorsData() {
          $.ajax({
            url: "/lightstick/" + current["name"] + "/data",
            method: "GET",
            success: function (res) {
              console.log(res);
              chartX.data.datasets[0].data = res["x"];
              chartX.update();

              chartY.data.datasets[0].data = res["y"];
              chartY.update();
            },
            error: function (err) {
              console.log(err);
              alert("Something went wrong on the server...");
            }
          });
        }

        function updateLightstick(field, value) {
          current[field] = value;

          console.log("UPDATE:", current);

          // Send AJAX update request
          $.ajax({
            url: "/lightstick/" + current["name"],
            method: "POST",
            data: { field, value },
            success: function (res) {
              console.log(res);
            },
            error: function (err) {
              console.log(err);
              alert("Something went wrong on the server...");
            }
          });
        }

        function uploadFile(file) {
          let fd = new FormData();
          fd.append("file", file);
          console.log(file);

          $.ajax({
            url: `lightstick/${current["name"]}/upload`,
            method: "POST",
            data: fd,
            processData: false,
            contentType: false,
            success: function(res) {
              console.log(res);
            },
            error: function (err) {
              console.log(err);
              alert("Something went wrong on the server...");
            }
          });
        }

        function generateChart(ctx, label, data) {
          return new Chart(ctx, {
            type: "line",
            data: {
              datasets: [{
                data: data,
                label,
                backgroundColor: "rgba(67, 255, 175, 0.5)",
                borderColor: "rgb(67, 255, 175)",
                tension: 0.3
              }]
            },
            options: {
              plugins: {
                legend: {
                  display: false,
                },
              },
              parsing: {
                xAxisKey: "timestamp",
                yAxisKey: "value"
              },
              responsive: true,
              <!--maintainAspectRatio: false,-->
              scales: {
                x: {
                  type: "time",
                }
              }
            }
          });
        }

        function onModeSwitch() {
          let id = $(this).data("value");

          if (!(id in modes)) {
            alert("Invalid mode.")
            return;
          }

          changeActiveMode(id);
          updateLightstick("mode", id);
        }

        function onPatternSwitch() {
          let id = $(this).data("value");

          if (!(id in patterns)) {
            alert("Invalid pattern.")
            return;
          }

          changeActivePattern(id)
          updateLightstick("pattern", id);
        }

        function onColorSubmit() {
          // Get color input values and join into a single string
          let colors = $("#colors input[type='color']").map(function() {
            return $(this).val().substring(1);
          })
            .get()

          updateLightstick("colors", colors);
        }

        function onPowerSwitch() {
          let isOn = $(this).is(":checked") ? true : false;

          toggleSwitch(isOn);
          toggleBlind(isOn);
          updateLightstick("is_on", isOn);
        }

        function onChangeLightstick() {
          if (lightsticks.length > 1) {
            currentIndex = (currentIndex < lightsticks.length - 1) ? currentIndex + 1 : 0;
            current = lightsticks[currentIndex];

            // Rerender site
            $("#lightstick").text(current.name.substring(10));

            intervalId = stopInterval(intervalId);

            // Update site state
            toggleBlind(current.is_on);
            toggleSwitch(current.is_on);
            setTimeout(function() { changeActiveMode(current.mode); }, DURATION);
            setTimeout(function() { changeActivePattern(current.pattern); }, DURATION * 2);
            toggleLightstick();
          }
        }

        function onUploadFile(type) {
          let inputFiles = $("#file-" + type).prop("files");

          if (inputFiles.length <= 0) {
            alert("No file selected.");
            return;
          }

          let file = inputFiles[0];

          if (!MIME_TYPES[type].includes(file["type"])) {
            alert("Invalid file type.");
            return;
          }

          if (file["size"] > FILE_SIZE_LIMIT) {
            alert(`File size is too large (greater than ${FILE_SIZE_LIMIT}).`)
            return;
          }

          uploadFile(file);
        }

        function toggleBlind(isOn) {
          if (isOn) {
            $("#panels").fadeIn(DURATION);
            $("#modes .btn").fadeIn(DURATION);
          } else {
            $("#panels").fadeOut(DURATION);
            $("#modes .btn").fadeOut(DURATION);
          }
        }

        function toggleSwitch(isOn) {
          $("#switch-power").prop("checked", isOn);
          $("#switch-label-off").removeClass("active");
          $("#switch-label-on").removeClass("active");
          let label = (isOn) ? $("#switch-label-on") : $("#switch-label-off");

          label.addClass("active");
        }
        
        function toggleLightstick(){
          var sb_options = document.getElementsByClassName("lightstick-sb");
          for (i=0; i<sb_options.length; i++){
            if(current["name"] == sb_options[i].innerText){
              sb_options[i].classList.add("active");
            }else{
              sb_options[i].classList.remove("active");
            }
          }
        }
        
        function onToggleSidebar() {
          var sidebar = document.getElementById("sidebar");
          sidebar.classList.toggle("d-lg-block");
        }

        function changeActiveMode(id) {
          if (id == 5) {
            getSensorsData();
            intervalId = setInterval(getSensorsData, 5000);
          } else {
            intervalId = stopInterval(intervalId)
          }

          // Change "active" button
          $("#modes .btn").removeClass("active");
          $(`#modes .btn[data-value='${id}']`).addClass("active");

          // Switch control panels
          let prev = $("#panels > div").filter(function () {
            return $(this).css("display") == "block";
          });

          if (prev.length > 0) {
            if (prev.attr("id") != "panel-" + modes[id].name) {
              prev.fadeOut(DURATION, function() {
                $("#panel-" + modes[id].name).fadeIn(DURATION);
              });
            }
          } else {
            $("#panel-" + modes[id].name).fadeIn(DURATION);
          }
        }

        function changeActivePattern(id) {
          // Change "active" button
          $("#patterns .btn").removeClass("active");
          $(`#patterns .btn[data-value='${id}']`).addClass("active");

          // If pattern does not need colors, disable "submit-color" button
          let num_colors = patterns[id].num_colors;
          $("#btn-submit-color").attr("disabled", num_colors == 0);

          $("#colors > *").fadeOut(DURATION, function() {
            // Update color inputs
            let colors = current.colors;

            $("#colors").find("input[type='color']").remove();

            for (let i = 0; i < num_colors; i++) {
              let inputDOM = $("<input type='color' class='btn btn-square p-0 me-1' style='display: none;'>");

              if (i < colors.length) {
                inputDOM.val("#" + colors[i]);
              }

              $("#btn-submit-color").before(inputDOM);
            }

            $("#colors > *").fadeIn(DURATION);
          });
        }

        // Generate charts
        let chartX = generateChart($("#chart-x"), "x", []);
        let chartY = generateChart($("#chart-y"), "y", []);

        // Attach click handlers
        $(document).on("click", "#modes .btn", onModeSwitch);
        $(document).on("click", "#patterns .btn", onPatternSwitch);
        $(document).on("click", "#btn-submit-color", onColorSubmit);
        $(document).on("click", "#switch-power", onPowerSwitch);
        $(document).on("click", "#lightstick", onChangeLightstick);
        $(document).on("click", "#btn-upload-image", function() { onUploadFile("image"); });
        $(document).on("click", "#btn-upload-audio", function() { onUploadFile("audio"); });
        $(document).on("click", ".lightstick-sb", onChangeLightstick);
        $(document).on("click", "#toggle-sb", onToggleSidebar);
        
        // Set initial website state
        $("#lightstick").text(current.name.substring(10));
        toggleBlind(current.is_on);
        toggleSwitch(current.is_on);
        changeActiveMode(current.mode);
        changeActivePattern(current.pattern);
        toggleLightstick();
        
        /*if($(window).width()<800){
          document.getElementById("sidebar").classList.add("d-none");
          /*document.getElementById("sidebar").style.display="none";
          /*document.getElementById("toggle-sb").style.display="none";
        }else{
          document.getElementById("sidebar").classList.remove("d-none");
          /*document.getElementById("toggle-sb").style.display="block";
        }*/
      });
    </script>
    {% else %}
    <div class="d-flex justify-content-around align-items-center fill">
      <p class="text-center m-5">
        No lightsticks found.
        <br>
        Please register one in AWS IoT Core and then refresh this page.
      </p>
    </div>
    {% endif %}
  </body>
</html>
