<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lightstick | Control Panel</title>

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="d-flex justify-content-around">
      <div class="content p-4">
        <header>
          <div class="row">
            <h1 class="col">lightstick<span id="lightstick" class="text-decoration-underline cursor-pointer px-2">1</span></h1>
            <div class="col-6">
              <div class="row">
                <div class="col d-flex justify-content-end align-items-center">
                  <span class="fs-7 me-2">off</span>
                  <div class="form-switch">
                    <input name="state" class="form-check-input" type="checkbox" {% if lightsticks[1].is_on %}checked{% endif %}>
                  </div>
                  <span class="fs-7">on</span>
                </div>
              </div>

              <div class="row">
                <nav id="btns" class="col d-flex justify-content-end flex-wrap">
                  {% for id, mode in modes.items() %}
                  <div id="btn-{{ mode.name }}" class="btn btn-text fs-7 ms-1 {% if lightsticks[1].mode == id %}active{% endif %}">{{ mode.name }}</div>
                  {% endfor %}
                </nav>
              </div>
            </div>
          </div>
        </header>

        <main id="panels" class="my-5">
          <div id="panel-basic" class="{% if lightsticks[1].mode != 1 %}d-none{% endif %}">
            <h2 id="main-header mb-4">basic</h2>

            <div class="my-4">
              <h6 class="m-0">pattern</h6>

              <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 gx-2 gy-2 mt-3 btn-grid">
                {% for id, pattern in patterns.items() %}
                <div class="col"><button class="btn btn-outline-dark {% if lightsticks[1].pattern == id %}active{% endif %}">{{ pattern.name }}</button></div>
                {% endfor %}
              </div>
            </div>

            <h6 class="m-0">color</h6>
            <p>
              set the color(s) displayed in the pattern
            </p>
          </div>

          <div id="panel-image" class="{% if lightsticks[1].mode != 2 %}d-none{% endif %}">
            <h2 id="main-header mb-4">image</h2>
          </div>

          <div id="panel-audio" class="{% if lightsticks[1].mode != 3 %}d-none{% endif %}">
            <h2 id="main-header mb-4">audio</h2>
          </div>

          <div id="panel-microphone" class="{% if lightsticks[1].mode != 4 %}d-none{% endif %}">
            <h2 id="main-header mb-4">microphone</h2>
          </div>

          <div id="panel-lightsaber" class="{% if lightsticks[1].mode != 5 %}d-none{% endif %}">
            <h2 id="main-header mb-4">lightsaber</h2>
          </div>
        </main>

        <footer>
        </footer>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        let lightsticks = {{ lightsticks|tojson }};
        let modes = {{ modes|tojson }};
        let patterns = {{ patterns|tojson }};
      });
    </script>
  </body>
</html>
