<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>lighting_project | control_panel</title>

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!--Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    {% if lightsticks|length > 0 %}
    <!--Sidebar-->
    <div id="sidebar" class="position-fixed fixed-top">
        <h6 class="d-flex justify-content-between mb-0 py-4 px-4">
          <span>lightsticks</span>
          <a id="close-sidebar" class="cursor-pointer"><i class="bi bi-x-lg icon"></i></a>
        </h6>

        <ul class="list-group">
          {% for lightstick in lightsticks %}
          <li class="py-2 px-4 cursor-pointer sidebar-item" data-name="{{ lightstick.name }}">
              {{ lightstick.name }}
            </li>
          {% endfor %}
        </ul>
    </div>
    <div id="overlay" class="position-fixed fixed-top"></div>

    <div class="d-flex justify-content-around">
      <div id="content" class="content p-4">
        <header class="mb-5">
          <div class="row justify-content-end gy-2">
            <div class="col">
              <h1 class="no-break">
                  <a id="toggle-sidebar" class="cursor-pointer"><i class="bi bi-list icon"></i></a>
                  lighting_project
              </h1>

              <nav id="pages" class="fs-5">
                <a class="cursor-pointer" data-value="home"><i class="bi bi-house icon"></i></a>
                <a class="cursor-pointer" data-value="info"><i class="bi bi-info-circle icon"></i></a>
              </nav>

              <div id="selected" class="mb-2">
                <p class="m-0 fs-5 d-inline align-middle">
                  <span class="text-muted">selected:</span> <span id="lightstick-name"></span>
                </p>
                <span id="lightstick-status" class="d-inline-block align-middle fw-bolder"></span>
              </div>
            </div>

            <div class="col-auto">
              <div class="row">
                <div class="text-end">
                  <a id="btn-logout" class="btn btn-text btn-alert fs-7 ms-1 text-end">logout</a>
                </div>
              </div>

              <div class="row">
                <div id="switch" class="col d-flex justify-content-end align-items-center">
                  <span id="switch-label-off" class="fs-7 me-2 switch-label">off</span>
                  <div class="form-switch">
                    <input id="switch-power" class="form-check-input" type="checkbox">
                  </div>
                  <span id="switch-label-on" class="fs-7 switch-label">on</span>
                </div>
              </div>

              <div class="row">
                <nav id="modes" class="col d-flex justify-content-end flex-wrap">
                  {% for id, mode in modes.items() %}
                  <a class="btn btn-text fs-7 ms-1" data-value={{ id }} style="display: none">{{ mode.name }}</a>
                  {% endfor %}
                </nav>
              </div>
            </div>
          </div>
        </header>

        <main>
          <div id="info" style="display: none;">
            <section class="my-4">
              <h2 id="main-header mb-4">about</h2>

              <p class="my-4">
              The lighting_project is an IoT contraption that is designed to show off the core components of IoT. It features a smart light stick that can be connected to the Internet and is controllable remotely, allowing users to change its behaviour to show different light patterns, as well as make use of different inputs to generate interesting patterns.
              </p>
            </section>

            <section class="my-4">
              <h2 id="main-header mb-4">how it works</h2>

              <div class="my-4">
                <figure class="figure text-center mb-4">
                  <img class="figure-img img-fluid" src="{{ url_for('static', filename='img/system_structure.png') }}">
                  <figcaption class="figure-caption">High-level architectural diagram</figcaption>
                </figure>
              </div>

              <div class="my-4">
                <h6 class="m-0">node</h6>

                <p>
                The node consists of a DotStar LED Strip which is connected to a Hibiscus Sense ESP32 microcontroller.
                The Hibiscus is capable of WiFi connectivity and also possesses a built-in MPU6050 accelerometer and gyroscope.
                Using these capabilities, the Hibiscus is able to connect to the LAN and communicate with the edge device wirelessly, as well as easily provide data on the forces applied to the light stick.
                </p>

                <p>
                The Hibiscus is programmed to convert color data received from the edge device into output on the Dotstar LED strip, and deliver accelerometer data to the edge device for processing.
                </p>
              </div>

              <div class="my-4">
                <h6 class="m-0">edge</h6>

                <p>
                The edge device is responsible for the communication between the node and the cloud, where it receives commands from the remote user, downloads new image/audio files, and uploads sensors data into the cloud. This is achieved by using MQTT, a lightweight publish/subscribe messaging protocol, to communicate the required payloads with minimal network bandwidth.
                </p>

                <p>
                This is also where most of the processing occurs, as the edge device has to process incoming input such as accelerometer data, image/audio file data and microphone audio, and convert them into color data that is understandable by the Hibiscus, which is then sent to the Hibiscus through WiFI.
                </p>
              </div>

              <div class="my-4">
                <h6 class="m-0">cloud</h6>

                <p>
                The cloud service used in this project is Amazon Web Services (AWS).
                AWS provides a myriad of services, but only IoT Core, DynamoDB, S3 and EC2 are used for this project.
                </p>

                <p>
                IoT Core is used as the intermediary between the node and the cloud storage in the form of DynamoDB and S3.
                On one end, after receiving payload data from the node, making use of the provided Rules Engine, IoT Core will automatically route the data to DynamoDB and save them.
                On the other end, after receiving commands from the user, IoT Core will update the node's state in the cloud, before sending the data down to the node for it to process.
                </p>

                <p>
                DynamoDB is used to save sensors data from the node, as mentioned previously. This data is then pulled into this website to be displayed, as can be seen in Lightsaber Mode.
                </p>

                <p>
                S3 is used to store user uploaded image and audio files. When new files are uploaded, S3 will automatically notify IoT Core, which will then be passed down to the corresponding node to inform them of the new file.
                </p>

                <p>
                EC2 is used to launch server instances on the cloud, which in this context, is used to host the web server for this web interface.
                </p>

                <p>
                All of these different parts work together to form the entire cloud infrastructure, which allows for the remote operation of the light sticks.
                </p>
              </div>
            </section>
          </div>

          <div id="panels" style="display: none;">
            <div id="panel-basic">
              <h2 id="main-header mb-4">basic</h2>

              <div class="my-4">
                <h6 class="m-0">pattern</h6>
                <p>
                choose a lighting pattern
                </p>

                <div id="patterns" class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 gx-2 gy-2 btn-grid">
                  {% for id, pattern in patterns.items() %}
                  <div class="col"><button class="btn btn-primary" data-value={{ id }}>{{ pattern.name }}</button></div>
                  {% endfor %}
                </div>
              </div>

              <div class="my-4">
                <h6 class="m-0">color</h6>
                <p>
                set the color(s) displayed in the pattern
                </p>

                <div id="colors" class="d-flex">
                  <button id="btn-submit-color" class="btn btn-primary">submit</button>
                </div>
              </div>

              <div class="my-4">
                <h6 class="m-0">expected output</h6>
                <p>
                depending on the pattern chosen, the light stick output should look something like the following:
                </p>
                <div class="text-center">
                  <img id="pattern_sample" class="border img-fluid">
                </div>
              </div>
            </div>

            <div id="panel-image">
              <h2 id="main-header mb-4">image</h2>
              <div class="my-4">
                <h6 class="m-0">upload</h6>
                <p>
                choose an image to be displayed on the lightstick
                </p>
                <!--<div class="row align-items-center justify-content-center mb-0">
                  <div class="col-auto">-->
                    <div class="text-center">
                      <input id="file-image" accept="image/jpeg, image/png" type="file" class="form-control-file">
                      <br>
                    </div>
                    <div class="col-auto text-center">
                      <img id="preview-image" class="p-2">
                    </div>
                    <div class="text-center">  
                      <button id="btn-upload-image" class="btn btn-primary">upload</button>
                      <span id="upload-status-image" class="mx-1 align-middle fw-bolder"></span>
                    </div>
                    <!--</div>-->

                    <!--<div class="col-auto text-center">
                      <img id="preview-image" class="p-2">
                      </div>
                      </div>-->

              </div>

              <div class="my-4">
                <h6 class="m-0">expected output</h6>
                <p>
                the light stick should look like it is flashing rapidly, as it loops through each row of the image.
                </p>
              </div>
            </div>

            <div id="panel-audio">
              <h2 id="main-header mb-4">audio</h2>
              <div class="my-4">
                <h6 class="m-0">upload</h6>
                <p>
                choose an audio file to be visualized on the lightstick
                </p>

                <div class="text-center">
                  <input id="file-audio" accept="audio/mpeg, audio/wav" type="file" class="form-control-file">
                  <br>
                </div>
                <div class="text-center mt-3">
                  <button id="btn-upload-audio" class="btn btn-primary">upload</button>
                  <span id="upload-status-audio" class="mx-1 align-middle fw-bolder"></span>
                </div>
              </div>

              <div class="my-4">
                <h6 class="m-0">expected output</h6>
                <p>
                the light stick should react accordingly to the audio being played, like a music visualizer.
                </p>
              </div>
            </div>

            <div id="panel-microphone">
              <h2 id="main-header mb-4">microphone</h2>

              <div class="my-4">
                <h6 class="m-0">device</h6>
                <p>
                please ensure that a microphone is connected to your Raspberry Pi.
                </p>
              </div>

              <div class="my-4">
                <h6 class="m-0">expected output</h6>
                <p>
                the light stick should react accordingly to your voice input.
                </p>
              </div>
            </div>

            <div id="panel-lightsaber">
              <h2 id="main-header mb-4">lightsaber</h2>

              <div class="my-4">
                <h6 class="m-0">sensors</h6>
                <p>
                graphical visualisation of sensors data
                </p>

              <div class="row row-cols-1 row-cols-md-2 gx-5 gy-5">
                <div>
                  <canvas id="chart-acceleration"></canvas>
                </div>
                <div>
                  <canvas id="chart-clash"></canvas>
                </div>
              </div>
              
              <div class="my-4">
                <h6 class="m-0">color</h6>
                <p>
                set the color of the lightsaber
                </p>

                <div id="colors-lightsaber" class="d-flex">
                  <input type='color' class='btn btn-square p-0 me-1'>
                  <button id="btn-submit-color-lightsaber" class="btn btn-primary">submit</button>
                </div>
              </div>

              <div class="my-4">
                <h6 class="m-0">expected output</h6>
                <p>
                try swinging it around, and be one with the force. you should hear humming sounds as you swing, and clashing sounds when you apply abrupt force.
                </p>
              </div>
            </div>
          </div>
        </main>

        <footer>
        </footer>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        const DURATION = 200;
        const FILE_SIZE_LIMIT = 25 * 1024 * 1024 // File size limit of 1MB
        const MIME_TYPES = {
          image: ["image/jpeg", "image/png"],
          audio: ["audio/mpeg", "audio/wav"]
        }

        let lightsticks = {{ lightsticks|tojson }};
        let modes = {{ modes|tojson }};
        let patterns = {{ patterns|tojson }};

        let currentIndex = 0;
        let current = lightsticks[currentIndex];

        let intervalId = null;
        
        function stopInterval(id) {
          if (id != null) {
            clearInterval(id);
          }

          return null;
        }

        function getSensorsData() {
          $.ajax({
            url: "/lightstick/" + current["name"] + "/data",
            method: "GET",
            success: function (res) {
              chartAcceleration.data.datasets[0].data = res["acceleration"];
              chartAcceleration.update();

              chartClash.data.datasets[0].data = res["is_clash"];
              chartClash.update();
            },
            error: function (err) {
              if (err.status === 0) {
                updateStatus("fail", "no connection", "#lightstick-status");
              } else {
                updateStatus("fail", "unexpected error", "#lightstick-status");
              }
            }
          });
        }

        function updateLightstick(field, value) {
          current[field] = value;

          updateStatus("loading","","#lightstick-status");

          // Send AJAX update request
          $.ajax({
            url: "/lightstick/" + current["name"],
            method: "POST",
            data: { field, value },
            success: function (res) {
              updateStatus("success", "", "#lightstick-status");
            },
            error: function (err) {
              if (err.status === 0) {
                updateStatus("fail", "no connection", "#lightstick-status");
              } else if (err.status === 400) {
                updateStatus("error", "invalid input", "#lightstick-status");
              } else if (err.status === 401) {
                window.location = err.responseJSON.redirect;
              } else if (err.status === 403) {
                updateStatus("error", "unauthorized", "#lightstick-status");
              } else {
                updateStatus("fail", "unexpected error", "#lightstick-status");
              }
            }
          });
        }
        
        function updateStatus(type,msg,id){
          if(type == "clear"){
            $(id).html("");
          }else{
            var icon_type = "fa fa-circle-o-notch fa-spin";
            var color = '#43ffaf';
            
            if(type == "success"){
              icon_type = "bi bi-check-circle-fill";
            }else if (type == "fail"){
              icon_type = "bi bi-x-circle-fill";
              color = '#ff5349';
            }else if(type=="error"){
              icon_type ="bi bi-exclamation-circle-fill";
              color = 'orange';
            }else{
              icon_type = "fa fa-circle-o-notch fa-spin";
            }
            
            var icon = "<i class='" + icon_type + " fs-5 me-2'></i>";
            $(id).css('color',color);
            $(id).html(icon + msg);
          }
          
        }

        function uploadFile(file,type) {
          let fd = new FormData();
          fd.append("file", file);

          $.ajax({
            url: `lightstick/${current["name"]}/upload`,
            method: "POST",
            data: fd,
            processData: false,
            contentType: false,
            success: function(res) {
              updateStatus("success","Uploaded","#upload-status-" + type);
            },
            error: function (err) {
              if (err.status === 0) {
                updateStatus("fail", "no connection", "#lightstick-status");
              } else if (err.status === 400) {
                updateStatus("error", "invalid file", "#upload-status-" + type);
              } else if (err.status === 401) {
                window.location = err.responseJSON.redirect;
              } else if (err.status === 403) {
                updateStatus("error", "unauthorized", "#upload-status-" + type);
              } else {
                updateStatus("fail", "unexpected error", "#upload-status-" + type);
              }
            }
          });
        }

        function generateChart(ctx, label, data) {
          return new Chart(ctx, {
            type: "line",
            data: {
              datasets: [{
                data: data,
                label,
                backgroundColor: "rgba(67, 255, 175, 0.5)",
                borderColor: "rgb(67, 255, 175)",
                tension: 0.3
              }]
            },
            options: {
              plugins: {
                legend: {
                  display: false,
                },
              },
              parsing: {
                xAxisKey: "timestamp",
                yAxisKey: "value"
              },
              responsive: true,
              <!--maintainAspectRatio: false,-->
              scales: {
                x: {
                  type: "time",
                }
              }
            }
          });
        }

        function onPageSwitch() {
          let id = $(this).data('value');

          changeActivePage(id);
        }

        function onModeSwitch() {
          let id = $(this).data("value");

          if (!(id in modes)) {
            return;
          }

          changeActiveMode(id);
          updateLightstick("mode", id);
        }

        function onPatternSwitch() {
          let id = $(this).data("value");

          if (!(id in patterns)) {
            return;
          }

          changeActivePattern(id)
          updateLightstick("pattern", id);
        }

        function onColorSubmit(id) {
          // Get color input values and join into a single string
          let colors = $(`${id} input[type='color']`).map(function() {
            return $(this).val().substring(1);
          })
            .get()

          updateLightstick("colors", colors);
        }

        function onPowerSwitch() {
          let isOn = $(this).is(":checked") ? true : false;

          toggleSwitch(isOn);
          toggleBlind(isOn);
          updateLightstick("is_on", isOn);
        }
        
        function onSelectLightstick() {
          for (let lightstick of lightsticks) {
            if (lightstick["name"] == $(this).data("name")) {
              current = lightstick;
              $("#preview-image").attr("src","data:image/png;base64," + current["image"]);
            }
          }

          intervalId = stopInterval(intervalId);

          onCloseSidebar();

          // Update site state
          $("#lightstick-name").text(current["name"]);
          $("#preview-image").attr("src","data:image/png;base64," + current["image"]);
          changeActivePage("home");
          changeLightstick();
          toggleBlind(current.is_on);
          toggleSwitch(current.is_on);
          setTimeout(function() { changeActiveMode(current.mode); }, DURATION);
          setTimeout(function() { changeActivePattern(current.pattern); }, DURATION * 2);
        }

        function onUploadFile(type,submit) {
          updateStatus("clear","","#upload-status-" + type);
          
          let inputFiles = $("#file-" + type).prop("files");
          
          var msg = "uploading";

          if (inputFiles.length <= 0) {
            msg = "empty file";
            updateStatus("error",msg,"#upload-status-" + type);
            $("#preview-image").removeAttr("src");
            //return;
          }else{
            let file = inputFiles[0];

            if (!MIME_TYPES[type].includes(file["type"])) {
              msg="incompatible";
              //return;
            }

            if (file["size"] > FILE_SIZE_LIMIT) {
              msg="file too large (>25MB)";
              //return;
            }
          
            if(msg != "uploading"){
              updateStatus("error",msg,"#upload-status-" + type);
              $("#preview-image").removeAttr("src");
              return;
            }else{
              if (type == "image") $("#preview-image").attr("src",URL.createObjectURL(file));

              if(submit){
                 updateStatus("loading",msg,"#upload-status-" + type);
                 uploadFile(file,type);
              }
            }
          }
        }

        function toggleBlind(isOn) {
          if (isOn) {
            $("#panels").fadeIn(DURATION);
            $("#modes .btn").fadeIn(DURATION);
          } else {
            $("#panels").fadeOut(DURATION);
            $("#modes .btn").fadeOut(DURATION);
          }
        }

        function toggleSwitch(isOn) {
          $("#switch-power").prop("checked", isOn);
          $("#switch-label-off").removeClass("active");
          $("#switch-label-on").removeClass("active");
          let label = (isOn) ? $("#switch-label-on") : $("#switch-label-off");

          label.addClass("active");
        }

        function changeActivePage(page) {
          // Change "active" page button
          $("#pages a i").removeClass("active");
          $(`#pages a[data-value='${page}'] i`).addClass("active");

          if (page == "info") {
            $("#panels").fadeOut(DURATION, function() {
              $("#info").fadeIn(DURATION);
            });
            $("#modes a").fadeOut(DURATION);
            $("#switch *").fadeOut(DURATION);
            $("#selected").fadeOut(DURATION);
          } else {
            $("#info").fadeOut(DURATION, function() {
              $("#panels").fadeIn(DURATION);
              $("#modes a").fadeIn(DURATION);
              $("#switch *").fadeIn(DURATION);
              $("#selected").fadeIn(DURATION);
            });
          }
        }
        
        function changeLightstick() {
          let items = $(".sidebar-item");

          items.each(function() {
            if (current["name"] == $(this).data("name")) {
              $(this).addClass("active");
            } else {
              $(this).removeClass("active");
            }
          })
        }
        
        function onToggleSidebar() {
          $("#sidebar").toggle("slide", { direction: "left" }, DURATION);
          $("#overlay").fadeToggle(DURATION);
        }

        function onCloseSidebar() {
          $("#sidebar").hide("slide", { direction: "left" }, DURATION);
          $("#overlay").fadeOut(DURATION);
        }

        function changeActiveMode(id) {
          if (id == 5) {
            getSensorsData();
            intervalId = setInterval(getSensorsData, 5000);

            //let inputDOM = $("<input type='color' class='btn btn-square p-0 me-1' style='display: none;'>");

            if (current.colors.length >= 1) {
              $("#colors-lightsaber > input[type='color']").val("#" + current.colors[0]);
            }
          } else {
            intervalId = stopInterval(intervalId)
          }

          // Change "active" button
          $("#modes .btn").removeClass("active");
          $(`#modes .btn[data-value='${id}']`).addClass("active");
  
          // Switch control panels
          let prev = $("#panels > div").filter(function () {
            return $(this).css("display") == "block";
          });

          if (prev.length > 0) {
            if (prev.attr("id") != "panel-" + modes[id].name) {
              prev.fadeOut(DURATION, function() {
                $("#panel-" + modes[id].name).fadeIn(DURATION);
              });
            }
          } else {
            $("#panel-" + modes[id].name).fadeIn(DURATION);
          }
        }
        
        function changeActivePattern(id) {
          // Change "active" button
          $("#patterns .btn").removeClass("active");
          $(`#patterns .btn[data-value='${id}']`).addClass("active");

          // If pattern does not need colors, disable "submit-color" button
          let num_colors = patterns[id].num_colors;
          $("#btn-submit-color").attr("disabled", num_colors == 0);

          $("#colors > *").fadeOut(DURATION, function() {
            // Update color inputs
            let colors = current.colors;

            $("#colors").find("input[type='color']").remove();

            for (let i = 0; i < num_colors; i++) {
              let inputDOM = $("<input type='color' class='btn btn-square p-0 me-1' style='display: none;'>");

              if (i < colors.length) {
                inputDOM.val("#" + colors[i]);
              }

              $("#btn-submit-color").before(inputDOM);
            }

            $("#colors > *").fadeIn(DURATION);
          });                                       
          
          $("#pattern_sample").attr("src", `static/img/${patterns[id].name}.gif`);
        }

        function onLogoutClick() {
          updateStatus("loading","","#lightstick-status");

          $.ajax({
            url: "/logout",
            method: "POST",
            success: function (res) {
              window.location = res.redirect;
            },
            error: function (err) {
              if (err.status === 0) {
                updateStatus("fail", "no connection", "#lightstick-status");
              } else {
                updateStatus("fail", "unexpected error", "#lightstick-status");
              }
            }
          });
        }

        // Generate charts
        let chartAcceleration = generateChart($("#chart-acceleration"), "acceleration", []);
        let chartClash = generateChart($("#chart-clash"), "clash", []);
        
        // Attach input change handlers
        //$(document).on("change", "#file-image",onInputFile);
        $(document).on("change", "#file-image", function() { onUploadFile("image",false); });
        //$(document).on("change", "#btn-upload-audio", function() { onUploadFile("audio",false); });
        
        $(document).on("click", "#modes .btn", onModeSwitch);
        $(document).on("click", "#patterns .btn", onPatternSwitch);
        $(document).on("click", "#btn-submit-color", function() { onColorSubmit("#colors") });
        $(document).on("click", "#btn-submit-color-lightsaber", function() { onColorSubmit("#colors-lightsaber") });
        $(document).on("click", "#switch-power", onPowerSwitch);
        $(document).on("click", "#btn-upload-image", function() { onUploadFile("image",true); });
        $(document).on("click", "#btn-upload-audio", function() { onUploadFile("audio",true); });
        $(document).on("click", "#pages a", onPageSwitch);
        $(document).on("click", "#toggle-sidebar", onToggleSidebar);
        $(document).on("click", "#close-sidebar", onCloseSidebar);
        $(document).on("click", "#overlay", onCloseSidebar);
        $(document).on("click", ".sidebar-item", onSelectLightstick);
        $(document).on("click", "#btn-logout", onLogoutClick);
        
        // Set initial website state
        $("#lightstick-name").text(current["name"]);
        $("#preview-image").attr("src","data:image/png;base64," + current["image"]);
        changeLightstick();
        toggleBlind(current.is_on);
        toggleSwitch(current.is_on);
        changeActivePage("home");
        changeActiveMode(current.mode);
        changeActivePattern(current.pattern);
      });
    </script>
    {% else %}
    <div class="d-flex justify-content-around align-items-center fill">
      <p class="text-center m-5">
        No lightsticks found.
        <br>
        Please register one in AWS IoT Core and then refresh this page.
      </p>
    </div>
    {% endif %}
  </body>
</html>
