# Lightstick settings
NUM_PIXELS=8

# AWS settings and credentials
CA_FILE=Amazon-root-CA-1.pem
CERT_FILE=device.pem.crt
CLIENT_ID=
PRIVATE_KEY_FILE=private.pem.key
S3_BUCKET=
THING_ENDPOINT=
THING_NAME=
